
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
/library
/profiles
/temp
/local
/native
/extensions
/build/web-mobile*/

#//////////////////////////
# NPM
#//////////////////////////


#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/